/* sp */
/* ====font colors==== */
/* ====btn colors==== */
/* btn1 */
/* btn2 */
/* faq */
/* bg */
/* ====font size ==== */
/* pc */
/* ====font size ==== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Shippori Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: #4a4a4a;
  background-color: #fcfbf8;
  line-height: 1.6;
}

h1 {
  font-family: "Shippori Mincho", serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  color: #fdfbf7;
  line-height: 1.3;
}
@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-family: "Shippori Mincho", serif;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 500;
  color: #2F2925;
  line-height: 1;
}
@media (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-family: "Shippori Mincho", serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  color: #2F2925;
  line-height: 1.3;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2.8rem;
  }
}

.container {
  width: 100%;
  padding-inline: 16px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 1120px;
  }
}

.main {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  main {
    margin-left: 184px;
  }
}
.header__logo {
  display: flex;
  justify-content: space-between;
  margin-block: 24px;
}

.header__icon {
  width: 113px;
  height: auto;
  display: block;
}

.header__btn {
  display: block;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.header__nav .nav__icon {
  width: 113px;
  height: auto;
  display: block;
}

.nav__close {
  display: block;
}

.nav__list {
  margin-top: 80px;
}

.nav__list li + li {
  margin-top: 56px;
}

.nav__group {
  background-color: #fcfbf8;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);
  transition: 0.4s;
}
.nav__group.active {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .pc-layout {
    display: block;
    width: calc(100% - 184px);
    background: url(../images/pc/mv-pc.jpg);
    height: 702px;
    margin-left: auto;
  }
  .header--sp {
    display: none;
  }
  .header--pc {
    display: block;
  }
  .header--pc .header__logo img {
    width: 143px;
  }
  .mv--pc .container {
    max-width: 1120px;
    width: 100%;
    margin-left: 8px;
    margin-right: auto;
  }
  .header--pc {
    flex: 0 0 147px;
    position: fixed;
    z-index: 1;
    top: 48px;
    left: 16px;
    width: 168px;
  }
  .header__nav--pc li {
    margin-top: 40px;
    font-family: "Shippori MIncho";
    font-size: 1.6rem;
    color: #4a4a4a;
    line-height: 1;
  }
  .header__nav--pc li :first-child {
    margin-top: 80px;
  }
  .mv__catchCopy--pc {
    display: block;
    white-space: nowrap;
    letter-spacing: 0.03em;
    line-height: 1.2;
    padding-top: 475px;
  }
  .mv__catchCopy--pc span {
    display: block;
  }
  .mv__catchCopy--pc span + span {
    margin-top: 24px;
  }
  .mv__txt--pc {
    font-size: 1.6rem;
    color: #fdfbf7;
    line-height: 1;
    letter-spacing: 0.03em;
    padding-top: 22px;
  }
  .header__nav--pc {
    margin-top: 80px;
  }
  .header__nav--pc li + li {
    margin-top: 40px;
  }
}
/*=============================
btn-pc
=============================*/
@media screen and (min-width: 768px) and (max-width: 1450px) {
  .mv--btnPc {
    margin-bottom: 24px;
  }
  .mv__btn--pc {
    margin-left: 931px;
    margin-top: -74px;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: rgba(253, 251, 247, 0.8);
    border-radius: 5px;
    height: 80px;
    width: 240px;
    padding: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .mv__btn--badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f8f6f2;
    font-family: "Shippori Mincho";
    font-size: 1rem;
    font-weight: 400;
    color: #4a4a4a;
    line-height: 1.2;
  }
  .mv__btn--txtPc {
    font-family: "Shippori Mincho";
    font-size: 1.6rem;
    font-weight: 400;
    color: #4a4038;
    line-height: 1.2;
    margin: 31px 29px 30px 8px;
    white-space: nowrap;
  }
  .mv__btn--arrowPc {
    position: relative;
    width: 14px;
    height: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mv__btn--arrowPc img {
    position: absolute;
    top: -3px;
    left: 0;
  }
  .mv__btn--arrowPc .arrow-default {
    display: block;
  }
  .mv__btn--arrowPc .arrow-hover {
    display: none;
  }
  .mv__btn--pc:hover .arrow-default {
    display: none;
  }
  .mv__btn--pc:hover .arrow-hover {
    display: block;
  }
  .mv__btn--pc:hover {
    background-color: rgba(79, 94, 62, 0.8);
  }
  .mv__btn--pc:hover .mv__btn--txtPc {
    color: #f8f6f2;
  }
  .mv--sp {
    display: none;
  }
  .mv--pc {
    display: block;
  }
}
.mv__sp {
  position: relative;
  display: block;
  height: 677px;
  overflow: hidden;
}

.mv__pc {
  display: none;
}

.mv__sp-img {
  width: 100%;
  height: 100%;
  display: block;
}

.mv__content {
  position: absolute;
  top: 61%;
  transform: translateY(-50%);
  left: 16px;
}

.mv__catchCopy--sp span {
  display: block;
}

.mv__catchCopy--sp span + span {
  margin-top: 16px;
}

.mv__detail--sp {
  font-family: "Noto Sans JP";
  font-size: 1rem;
  color: #fdfbf7;
  line-height: 1;
  margin-top: 16px;
}

.mv__btn--sp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 160px;
  height: 56px;
  padding: 8px;
  background-color: rgba(253, 251, 247, 0.8);
  border-radius: 10px;
  right: 36px;
  bottom: 46px;
}

.mv__btn--badge--sp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #4a4038;
  background-color: #fcfbf8;
  line-height: 1.2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mv__btn--txt--sp {
  font-size: 1.2rem;
  color: #4a4038;
  line-height: 1;
  margin: 0 9px 0 2px;
}

.arrow__default--sp {
  display: block;
}

.arrow__hover--sp {
  display: none;
}

.mv__btn--sp:hover .arrow__default--sp {
  display: none;
}

.mv__btn--sp:hover .arrow__hover--sp {
  display: block;
}

.mv__btn--sp:hover {
  background-color: rgba(79, 94, 62, 0.8);
}

.mv__btn--sp:hover .mv__btn--txt--sp {
  color: #f8f6f2;
}

@media screen and (min-width: 768px) {
  .mv__sp {
    display: none;
  }
  .mv__pc {
    display: block;
    width: calc(100% - 184px);
    height: 702px;
    margin-left: 184px;
    background: url(../images/pc/mv-pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .mv__layout--pc {
    position: relative;
    height: 100%;
  }
  .mv__topic--pc {
    position: absolute;
    left: 40px;
  }
  .header__logo {
    display: none;
  }
  .nav__group {
    display: block;
    width: 168px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(1%);
    white-space: nowrap;
    background-color: #fcfbf8;
  }
  .nav__close {
    display: none;
  }
  .nav__list li + li {
    margin-top: 40px;
  }
  .nav__list:last-child {
    margin-bottom: 40px;
  }
  .mv__catchCopy--pc {
    display: block;
    white-space: nowrap;
    letter-spacing: 0.03em;
    line-height: 1.2;
    padding-top: 475px;
  }
  .mv__catchCopy--pc span {
    display: block;
  }
  .mv__catchCopy--pc span + span {
    margin-top: 24px;
  }
  .mv__txt--pc {
    font-size: 1.6rem;
    color: #fdfbf7;
    line-height: 1;
    letter-spacing: 0.03em;
    padding-top: 22px;
  }
  .header__nav--pc {
    margin-top: 80px;
  }
  .header__nav--pc li + li {
    margin-top: 40px;
  }
}
/*=============================
btn-pc
=============================*/
@media screen and (min-width: 768px) {
  .mv__btn--pc {
    display: flex;
    align-items: center;
    background-color: rgba(253, 251, 247, 0.8);
    border-radius: 5px;
    height: 80px;
    width: 240px;
    padding: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: absolute;
    right: 40px;
    bottom: 24px;
  }
  .mv__btn--badge--pc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f8f6f2;
    font-family: "Shippori Mincho";
    font-size: 1rem;
    font-weight: 400;
    color: #4a4a4a;
    line-height: 1.2;
  }
  .mv__btn--txt--pc {
    font-family: "Shippori Mincho";
    font-size: 1.6rem;
    font-weight: 400;
    color: #4a4038;
    line-height: 1.2;
    margin: 31px 29px 30px 8px;
    white-space: nowrap;
  }
  .arrow__default--pc {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mv__btn--pc.arrow__default--pc {
    display: block;
  }
  .arrow__hover--pc {
    display: none;
  }
  .mv__btn--pc:hover {
    background-color: rgba(79, 94, 62, 0.8);
  }
  .mv__btn--pc:hover .mv__btn--txt--pc {
    color: #f8f6f2;
  }
  .mv__btn--pc:hover .arrow__default--pc {
    display: none;
  }
  .mv__btn--pc:hover .arrow__hover--pc {
    display: block;
  }
}
.problem h2 {
  margin-top: 40px;
  text-align: center;
  line-height: 1.6;
}

.problem__item {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fcfbf8;
  margin: 24px auto 0;
}

.problem__item img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.problem__item:nth-child(1)::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: rgba(251, 255, 248, 0.48);
  z-index: 1;
}

.problem__item:nth-child(2)::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: rgba(253, 253, 227, 0.48);
  z-index: 1;
}

.problem__item:nth-child(3)::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: rgba(255, 233, 233, 0.48);
  z-index: 1;
}

.problem__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  font-family: "Shippori Mincho";
  font-size: 1.7rem;
  color: #4a4a4a;
  line-height: 1.8;
  width: 85%;
}

.problem__message {
  font-family: "Shippori Mincho";
  font-size: 2.6rem;
  color: #2F2925;
  line-height: 1.6;
  text-align: center;
  margin: 24px;
}

@media screen and (min-width: 768px) {
  .problem {
    margin-top: 80px;
  }
  .problem h2 {
    white-space: nowrap;
    line-height: 1;
  }
  .problem__list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
  }
  .problem__txt {
    font-size: 2.8rem;
  }
  .spBr {
    display: none;
  }
  .problem__message {
    font-size: 3.6rem;
    font-weight: 500;
    color: #4a4a4a;
    line-height: 1;
    margin: 40px;
    text-align: center;
  }
}
.lead__img {
  position: relative;
}

.lead__farm {
  width: 100%;
  display: block;
  margin-top: 40px;
}

.lead__vegetable {
  position: absolute;
  left: 65%;
  transform: translate(-50%, -24%);
}

.lead__content {
  margin-top: 185px;
  text-align: justify;
}

.lead__content h3 {
  text-align: center;
}

.lead__content p {
  margin-top: 24px;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .lead {
    margin-top: 80px;
  }
  .lead__img {
    position: relative;
  }
  .lead .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-direction: row-reverse;
  }
  .lead__content {
    margin-top: 80px;
    width: 457px;
  }
  .lead__farm {
    display: block;
    width: 670px;
    max-width: 100%;
    margin-left: 53px;
  }
  .lead__vegetable {
    width: 180px;
    position: absolute;
    left: 92px;
    bottom: -168px;
  }
  .lead__content p {
    font-size: 1.6rem;
  }
  .pcBr {
    display: none;
  }
}
.pcBr {
  display: none;
}

.reason h2 {
  text-align: center;
  margin-top: 40px;
  white-space: nowrap;
  padding-inline: 16px;
}

.reason__item {
  position: relative;
  margin-top: 40px;
}

.reason__item img {
  width: 100%;
  display: block;
  height: auto;
}

.reason__number {
  font-family: "lora";
  font-size: 3rem;
  font-weight: 500;
  color: #2F2925;
  line-height: 1;
  position: absolute;
  top: -24px;
  left: 2px;
  width: 88px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7eee1;
  border-radius: 48% 52% 67% 33%/52% 48% 52% 48%;
  z-index: 1;
}

.reason__content h3 {
  margin-top: 32px;
  padding-inline: 16px;
}

.reason__content p {
  margin-top: 24px;
  padding-inline: 16px;
  text-align: justify;
}

.reason__content h3 {
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .reason {
    margin-top: 160px;
  }
  .reason h2 {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
    max-width: 1120px;
    margin-inline: auto;
  }
  .reason h2::before,
  .reason h2::after {
    content: "";
    height: 1px;
    background: #4a4a4a;
  }
  .reason h2::before {
    width: 260px;
    flex: 1.7;
  }
  .reason h2::after {
    width: 360px;
    flex: 1.3;
  }
  .reason__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1120px;
    margin-inline: auto;
    margin-top: 64px;
  }
  .reason__img {
    width: 600px;
    flex-shrink: 0;
  }
  .reason__img img {
    width: 100%;
    display: block;
  }
  .reason__item:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .reason__item {
    position: relative;
  }
  .reason__number {
    position: absolute;
    width: 163px;
    aspect-ratio: 1;
    font-size: 4.8rem;
  }
  .reason__item:nth-child(odd) .reason__number {
    left: 483px;
    top: -18px;
  }
  .reason__item:nth-child(even) .reason__number {
    left: -38px;
    top: -13px;
  }
  .reason__item:nth-child(even) .reason__img {
    margin-right: 24px;
  }
  .reason__item:nth-child(odd) .reason__content {
    margin-right: 24px;
  }
  .reason__content h3 {
    margin-top: 50px;
  }
  .reason__content p {
    line-height: 2;
    margin-top: 32px;
  }
  .reason__item:last-child {
    margin-bottom: 80px;
  }
}
.cta {
  margin-top: 40px;
  padding-bottom: 40px;
  background: url(../images/sp/cta-bg.jpg);
  background-size: cover;
}

.cta__card {
  width: 100%;
  max-width: 375px;
}

.cta__topic {
  width: 100%;
  text-align: center;
}

.cta__message {
  font-family: "Shippori Mincho";
  font-size: 1.6rem;
  font-weight: 400;
  color: #2F2925;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 40px;
}

.cta__topic h2 {
  display: inline-block;
  font-family: "Shippori Mincho", serif;
  font-weight: 600;
  white-space: nowrap;
  margin-top: 16px;
  border-bottom: 1px solid #fff;
  padding-bottom: 16px;
  text-align: center;
}

.cta__img--vegics {
  width: 100%;
  margin-top: 32px;
}

.cta__img--kuchibue {
  width: 100%;
  margin-top: 24px;
}

.cta__content {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding-block: 16px 24px;
}

.cta__farm {
  margin-top: 16px;
}

.cta__content .cta__farm {
  font-family: "Shippori Mincho";
  line-height: 1.3;
  text-align: center;
  margin-top: 16px;
}

.cta__content h3 {
  font-size: 2.3rem;
  text-align: center;
  margin-top: 8px;
  white-space: nowrap;
}

.cta__price {
  margin-top: 16px;
}

.cta__price--value {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3.6rem;
  line-height: 1;
}

.cta__tax {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1;
  margin-top: 16px;
}

.cta__content .cta__farmer {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1;
  margin-top: 16px;
}

.cta__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto 0;
  background-color: #fff6b8;
  border-radius: 10px;
  height: 64px;
  width: 272px;
  transition: background-color 0.3s ease, 0.3s ease;
}

.cta__btn--badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f7f5f1;
  margin-left: 8px;
  margin-right: 8px;
  font-family: "Shippori Mincho";
  font-size: 1rem;
  color: #3f4b36;
  line-height: 1.2;
}

.cta__btn--txt {
  font-family: "Shippori Mincho";
  font-size: 1.8rem;
  color: #3f4b36;
  line-height: 1.2;
  margin: 0 32px 0 16px;
  white-space: nowrap;
}

.cta__btn--arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  position: relative;
  top: -6px;
}

.cta__btn:hover {
  background-color: #d98c4a;
}

@media screen and (min-width: 768px) {
  .cta {
    padding: 80px 0 80px 0;
    background: url(../images/pc/cta-pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pcBr {
    display: none;
  }
  .cta__message {
    font-size: 2rem;
  }
  .cta__topic h2 {
    border-bottom: 1px solid #fff;
    padding-bottom: 24px;
  }
  .cta__cards {
    display: flex;
    gap: 20px;
    text-align: center;
    margin-top: 40px;
  }
  .cta__content p {
    font-size: 1.8rem;
    margin-top: 24px;
  }
  .cta__content h3 {
    font-size: 2.8rem;
  }
  .cta__price--value {
    font-size: 6rem;
    line-height: 1.4;
    margin-top: 8px;
  }
  .cta__tax {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  .cta__farmer {
    font-size: 1.6rem;
    margin-top: 8px;
  }
  .cta__img--vegics,
  .cta__img--kuchibue {
    width: 100%;
    max-width: 550px;
    margin-top: 0;
  }
  .cta__content {
    max-width: 550px;
    margin: 0 auto;
  }
}
/*=============================
cta-btn-pc
=============================*/
@media screen and (min-width: 768px) {
  .cta__btn {
    margin: 24px auto 0;
    width: 400px;
    height: 110px;
  }
  .cta__btn--badge {
    width: 80px;
    height: 80px;
    font-size: 1.6rem;
  }
  .cta__btn--txt {
    font-size: 2.4rem;
    color: #3f4b36;
    margin: 40px 64px 40px 40px;
    white-space: nowrap;
  }
}
.quality__topic--txt {
  font-family: "Shippori Mincho";
  font-size: 1.8rem;
  color: #2F2925;
  line-height: 1;
  text-align: center;
  margin-top: 40px;
}

.quality__topic {
  font-family: "Shippori Mincho";
  font-size: 2.6rem;
  font-weight: 600;
  color: #2F2925;
  line-height: 1;
  text-align: center;
  margin-top: 16px;
}

.quality__inner .container {
  padding-inline: 0;
}

.quality__voice {
  position: relative;
  margin-top: 32px;
  background-color: #f5f1e8;
  padding-top: 160px;
}

.quality__balloon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -110%);
}

.quality__balloon img {
  display: block;
}

.quality__balloon p {
  position: absolute;
  inset: 0;
  font-family: "Noto Sans JP";
  color: #4a4a4a;
  line-height: 1;
  transform: translate(24px, 40px);
}

.quality__woman {
  display: block;
  width: 238px;
  height: auto;
  margin: 0 auto;
  transform: translateX(-40px);
}

.quality__catch {
  font-family: "Shippori Mincho";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  margin-top: 24px;
}

.quality__catchTxt {
  font-family: "Shippori Mincho";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  margin-top: 24px;
}

.quality__refund {
  text-align: center;
}

.quality__company {
  font-family: "Shippori Mincho";
  line-height: 1;
}

.quality__emphasis {
  font-family: "Shippori Mincho";
  font-size: 3.6rem;
  font-weight: 700;
  color: #7f8f6a;
  line-height: 1;
  text-align: center;
  margin-top: 8px;
}

.quality__emphasisTxt {
  font-family: "Shippori Mincho";
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  margin-top: 8px;
}

.quality__content {
  background-color: #e7eee1;
  margin-top: 24px;
}

.quality__img {
  text-align: center;
}

.quality__img img {
  max-width: 100%;
  text-align: center;
}

.quality__txt {
  font-family: "Shippori Mincho";
  text-align: justify;
}

.quality__txt p {
  margin-top: 24px;
}

.quality__last {
  padding-bottom: 40px;
}

.quality__line {
  display: none;
}

@media screen and (min-width: 768px) {
  .quality {
    margin-top: 80px;
  }
  .quality .container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .quality__contents {
    margin: 0 auto;
  }
  .quality__topic--txt {
    font-size: 2rem;
    text-align: center;
  }
  .quality__topic {
    font-size: 3.6rem;
  }
  .quality__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1120px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #f5f1e9;
  }
  .quality__voice {
    display: flex;
    margin-top: 0;
  }
  .quality__woman {
    width: 261px;
    display: block;
  }
  .quality__balloon img {
    display: block;
    width: 226px;
  }
  .quality__line {
    display: block;
    width: 1px;
    height: 220px;
    background: #4a4a4a;
    margin-left: 159px;
  }
  .quality__message {
    margin-left: 48px;
  }
  .quality__balloon {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-15%, -110%);
  }
  .quality__balloon p {
    position: absolute;
  }
  .quality__catch {
    font-size: 2.8rem;
    margin-top: 0;
  }
  .quality__catchTxt {
    font-size: 2rem;
  }
  .quality__emphasis {
    font-size: 4rem;
  }
  .quality__refund {
    display: flex;
    align-items: flex-end;
    gap: 8px;
  }
  .quality__content {
    width: 1120px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: row-reverse;
  }
  .quality__txt {
    font-size: 1.8rem;
    line-height: 1.6;
    margin: 40px 24px 40px 73px;
  }
  .quality__img {
    display: block;
    width: 100%;
  }
}
.farmers__topic {
  text-align: center;
}

.farmers__topic--txt {
  font-family: "Shippori Mincho";
  font-size: 1.8rem;
  color: #2F2925;
  line-height: 1;
  text-align: center;
  margin-top: 40px;
}

.farmers__topic h2 {
  text-align: center;
  margin-top: 16px;
}

.farmers__vegetable {
  margin-top: 24px;
}

.farmers__hidamari,
.farmers__kuchibue {
  text-align: center;
  margin-top: 32px;
}

.farmers__item h3 {
  text-align: center;
  margin-top: 32px;
}

.farmers__item img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 343px;
  margin: 24px auto;
}

.farmers__img {
  margin-top: 24px;
  width: 100%;
  height: auto;
  display: block;
}

.farmers__name {
  font-family: "Noto Sans JP";
  font-size: 1.8rem;
  color: #4a4a4a;
  line-height: 1.4;
  text-align: center;
  margin-top: 24px;
}

.farmers__txt {
  font-family: "Noto Sans JP";
  margin-top: 16px;
  grid-row: 4;
  text-align: justify;
}

.farmers__txt-last {
  font-family: "Noto Sans JP";
  margin-block: 16px 40px;
  text-align: justify;
}

.farmers__box {
  display: block;
}

.farmers__img {
  margin-top: 24px;
}

.farmers__content {
  margin-top: 24px;
}

.farmers--pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .farmers {
    display: none;
  }
  .farmers--pc {
    display: block;
    margin-top: 80px;
  }
  .farmers--sp {
    display: none;
  }
  .farmers__catch {
    text-align: center;
  }
  .farmers__hidamari,
  .farmers__souryoku {
    display: flex;
  }
  .farmers__souryoku {
    flex-direction: row-reverse;
    margin-top: 40px;
  }
  .farmers__content--hidamari {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 56px 0 0 28px;
  }
  .farmers__content--souryoku {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 24px;
  }
  .farmers__name {
    margin-top: 32px;
  }
  .farmers__txt {
    margin-top: 16px;
  }
  .farmers__catch--souryoku {
    margin-top: 45px;
  }
  .farmers__img {
    width: 520px;
    flex-shrink: 0;
  }
  .farmers__vegetable {
    display: none;
  }
  .farmers__item img {
    display: block;
    width: 100%;
    max-width: 450px;
    height: auto;
  }
  .farmers__item h3 {
    text-align: left;
  }
  .farmers__content p {
    margin-top: 16px;
  }
  .farmers__box:last-child {
    margin-bottom: 80px;
  }
}
.faq {
  text-align: center;
}

.faq__heading {
  display: inline-block;
  text-align: center;
  margin-top: 40px;
}

.faq__topic {
  display: flex;
  align-items: center;
}

.faq__topic .faq__icon {
  margin-left: 16px;
}

.faq__content {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.faq__topicTxt {
  font-family: "Shippori Mincho";
  font-size: 1.3rem;
  color: #2F2925;
  line-height: 1;
  margin-top: 8px;
}

.faq__item {
  background: #fff6b8;
  margin-top: 24px;
}

.faq__question {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq__label {
  display: inline-block;
  font-family: "Noto Sans JP";
  color: #4a4a4a;
  font-size: 2rem;
  line-height: 1;
  margin: 34px 0 34px 16px;
}

.faq__txt {
  font-family: "Noto Sans JP";
  color: #2F2925;
  line-height: 1;
  margin-left: 24px;
  margin-right: 41px;
  white-space: nowrap;
}

.faq__secondTxt {
  font-family: "Noto Sans JP";
  color: #2F2925;
  line-height: 1;
  margin-left: 32px;
  margin-right: 96px;
}

.faq__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 16px;
}

/*=============================
faq-answer-sp
=============================*/
.faq__answer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  background: #fff6b8;
  margin-top: 24px;
  padding-bottom: 40px;
  display: none;
}

.faq__body {
  flex: 1;
}

.faq__head {
  display: flex;
  align-items: baseline;
  gap: 32px;
}

.faq__content .faq__label {
  width: 24px;
  margin: 0 0 0 18px;
}

.faq__answerTxt {
  font-family: "Noto Sans JP";
  flex: 1;
  line-height: 1.8;
  text-align: left;
}

.faq__icon--first {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.faq__icon--second {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .faq {
    margin-top: 80px;
  }
  .faq__headingTxt {
    font-size: 20px;
  }
  .faq__item {
    width: 930px;
    height: auto;
    margin: 40px auto;
  }
  .faq__question {
    justify-content: space-between;
    padding: 32px;
  }
  .faq__label {
    font-size: 3.2rem;
    margin-left: 56px;
  }
  .faq__txt,
  .faq__secondTxt {
    font-size: 2.4rem;
  }
  .faq__icon {
    margin-right: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .faq__icon img {
    display: block;
    width: 48px;
    height: 48px;
  }
  .faq__item:last-child {
    margin-bottom: 80px;
  }
  .spBr {
    display: none;
  }
}
/*=============================
faq-answer-pc
=============================*/
@media screen and (min-width: 768px) {
  .faq__answer {
    width: 930px;
    padding: 48px 40px 48px 48px;
  }
  .faq__answer:last-child {
    padding: 48px 32px 48px 40px;
  }
  .spBr {
    display: none;
  }
  .pcBr {
    display: block;
  }
  .faq__head {
    gap: 111px;
  }
  .faq__content {
    gap: 64px;
  }
  .faq__content .faq__label {
    margin-left: 56px;
  }
}
.footer__group img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 40px auto 0;
}

.footer__txt {
  font-family: "Noto Sans JP";
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  margin: 8px auto 40px;
}

.footer__icon {
  width: 113px;
  height: auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .footer__icon {
    width: 143px;
  }
  .footer__txt {
    font-family: "Noto Sans JP";
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */