/* sp */
/* ====font colors==== */
/* ====btn colors==== */
/* btn1 */
/* btn2 */
/* faq */
/* bg */
/* ====font size ==== */
/* pc */
/* ====font size ==== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Shippori Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: #4a4a4a;
  background-color: #fcfbf8;
  line-height: 1.6;
}

h1 {
  font-family: "Shippori Mincho", serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  color: #fdfbf7;
  line-height: 1.3;
}
@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-family: "Shippori Mincho", serif;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 500;
  color: #2F2925;
  line-height: 1;
}
@media (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-family: "Shippori Mincho", serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  color: #2F2925;
  line-height: 1.3;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2.8rem;
  }
}

.container {
  width: 100%;
  max-width: 375px;
  padding-inline: 16px;
}
@media (min-width: 768px) {
  .container {
    max-width: 1120px;
    padding-inline: 20px;
  }
}

.header__logo {
  display: flex;
  justify-content: space-between;
  margin-block: 24px;
}

.header__icon {
  width: 113px;
  height: auto;
  display: block;
}

.header__btn {
  display: block;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.header__nav .nav__icon {
  width: 113px;
  height: auto;
  display: block;
}

.nav__close {
  display: block;
}

.nav__list {
  margin-top: 80px;
}

.nav__list li + li {
  margin-top: 56px;
}

.nav__group {
  background-color: #fcfbf8;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);
  transition: 0.4s;
}
.nav__group.active {
  transform: translateX(0);
}

.mv__sp {
  position: relative;
  display: block;
}

.mv__pc {
  display: none;
}



.mv__content {
  position: absolute;
  top: 328px;
  left: 16px;
}

.mv__catchCopy--sp span {
  display: block;
}

.mv__catchCopy--sp span + span {
  margin-top: 16px;
}

.mv__detail--sp {
  font-family: "Noto Sans JP";
  font-size: 1rem;
  color: #fdfbf7;
  line-height: 1;
  margin-top: 16px;
}

.mv__btn--sp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 160px;
  height: 56px;
  padding: 8px;
  background-color: rgba(253, 251, 247, 0.8);
  border-radius: 10px;
  right: 16px;
  bottom: 46px;
}

.mv__btn--badge--sp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #4a4038;
  background-color: #fcfbf8;
  line-height: 1.2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mv__btn--txt--sp {
  font-size: 1.2rem;
  color: #4a4038;
  line-height: 1;
  margin: 0 9px 0 2px;
}

.arrow__default--sp {
  display: block;
}

.arrow__hover--sp {
  display: none;
}

.mv__btn--sp:hover .arrow__default--sp {
  display: none;
}

.mv__btn--sp:hover .arrow__hover--sp {
  display: block;
}

.mv__btn--sp:hover {
  background-color: rgba(79, 94, 62, 0.8);
}

.mv__btn--sp:hover .mv__btn--txt--sp {
  color: #f8f6f2;
}/*# sourceMappingURL=style.css.map */