@use "variables" as *;

// sp

.lead__img {
    position: relative;
}
.lead__farm {
    width: 100%;
    display: block;
    margin-top: 40px;

}
.lead__vegetable {
    position: absolute;
    left: 65%;
    transform: translate(-50%,-24%);

    
}
.lead__content{
    margin-top: 185px;
    text-align: justify;
    
}
.lead__content h3 {
    text-align: center;
}
.lead__content p {
    margin-top: 24px;
    font-size: 1.5rem;
}



@media screen and (min-width: 768px){
    
    .lead {
        margin-top: 80px;
    }
    .lead__img {
    position: relative;   
}
    .lead .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        flex-direction: row-reverse;
    }
    .lead__content {
        margin-top: 80px;
        width: 457px;
    }
    .lead__farm {
        display: block;
        width: 670px;
        max-width: 100%;
        margin-left: 53px;
    }
    .lead__vegetable {
        width: 180px;
        position: absolute;
        left: 92px;
        bottom: -168px;
    }
    
    .lead__content p {
        font-size: 1.6rem;
    }
    .pcBr {
        display: none;
    }

}

    

