@charset "utf-8";

    /* sp */
    /* ====font colors==== */
    $color-main: #fdfbf7; 
    $color-section: #2F2925;
    $color-text: #4a4a4a;

    /* ====btn colors==== */
    /* btn1 */
    $color-btn-green: #fdfbf7cc;
    $color-btn-green-hover: #4f5e3ecc;
    $color-btn-green-txt: #4a4038;
    $color-btn-green-txt-hover: #f8f6f2;
    /* btn2 */
    $color-btn-orange: #fff6b8;
    $color-btn-orange-hover: #d98c4a;
    $color-btn-orange-txt: #3f4b36;

    /* faq */
    $color-faq: #fff6b8;

    /* bg */
    $color-bg: #fcfbf8;
    $color-content-bg: #fff;

    


    /* ====font size ==== */
    $fs-h1-sp: 2.8rem;
    $fs-h2-sp: 2.6rem;
    $fs-h3-sp: 2.4rem;


    /* pc */
    /* ====font size ==== */
    $fs-h1-pc: 4rem;
    $fs-h2-pc: 3.6rem;
    $fs-h3-pc: 2.8rem;
    $fs-txt-pc: 1.6rem;


    $breakpoint-pc: 768px;

    $container-width-sp: 375px;
    $container-width-pc: 1120px;

    $container-padding-sp: 16px;
    $container-padding-pc: 20px;

    $section-space-sp: 40px;
    $section-space-pc: 80px;




    

    
    
   
            
    
    
